<div class="container">
  <h1>Create a New Survey</h1>
  <form name='new-survey' action='/survey' method='post'>
    <input type="text" name="title" placeholder="Survey Title">
    <br><br>
    <input type="text" name="question" placeholder="question, question!">
    <br><br>
    <input type="text" name="answer" placeholder="answer">
    <br><br>
    <select>
      <option value="true">Private</option>
      <option value="false" selected="selected">Public</option>
    </select>
    <br><br>
    <input type="submit" value="Submit New Survey">
  </form>
</div>
