<div class="container">
  <h1>Create a New Survey</h1>
  <form name='new-survey' action='/survey/new' method='post'>
    <input type="text" name="title" placeholder="Survey Title">
    <div class="question-choice">
      <br><br>
      <input type="text" name="question" placeholder="question, question!"><br>
      <br><br>
      <div class="choice">
        <div class="choice-box-1">
          <input type="text" name="chosen_answer" placeholder="answer"><br>
        </div>
        <br>
          <button class="add-choice-1">Add a choice</button>
          <button class="remove-choice-1">Remove a choice</button>
      </div>
      <br>
    </div>

    <div class="question-button">
      <button class="add-question">Add a question</button>
      <button class="remove-question">Remove a question</button>
    </div>


    <br><br>

    <div class="private-submit">
      <select name="privacy">
        <option value="true">Private</option>
        <option value="false" selected="selected">Public</option>
      </select>
      <br><br>
      <input type="submit" value="Submit New Survey">
    </div>
  </form>
</div>
