<nav class="navcontainer">
  <div class="company">
    <a href="/"><img src="/img/kong.png"></a>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <% if current_user %>
      <li><a href="/users/logout">logout</a></li>
      <li><a href="/users/index"><%= current_user.name %></a></li>
    <% else %>
      <li><a href="/users/login">login</a></li>
    <% end %>
  </ul>
</nav>
