<div class="container">
  <h2>Welcome to your Kongboard</h2>

  <div class='survey-type'>
    <h3>List of my surveys</h3>
    <div class="survey-list"></div>
  </div>

  <div class='survey-type'>
    <h3>Surveys you have taken</h3>
    <div class="survey-list"></div>
  </div>

  <div class='survey-type'>
    <h3>Choose a survey</h3>
    <div class="survey-list"></div>
  </div>

</div>
