<div class="container">
  <form action='/users/login' method='post'>
    <input type='text' name='email' placeholder='email address'><br>
    <input type='password' name='password' placeholder='enter password'><br>
    <input type='submit' value='login'>
  </form>
</div>
