<div class="container">
  <form action='/users/login' method='post'>
  <p class="error-message"></p>
    <input type='text' name='email' placeholder='email address'>
    <br>
    <input type='password' name='password' placeholder='enter password'><br>
    <input class="login sweetbutton" type='submit' value='login'>
  </form>
</div>
