<div class="container">
  <div class="error-message"></div>
  <form action='/users/login' method='post'>
    <input type='text' name='email' placeholder='email address'>
    <br>
    <input type='password' name='password' placeholder='enter password'><br>
    <input class="login" type='submit' value='login'>
  </form>
</div>
