<div class="container">
  <h1>Welcome to Survey Kong!</h1>
  <h2>The new alternative to Survey Primate that you loved to hate!</h2>
  <a href='/users/signup'><button class="sweetbutton big">Sign Up!</button></a>
</div>
